# ==========================
# Terraform
# ==========================
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

# ==========================
# Python
# ==========================
**/.venv/
**/__pycache__/
**/*.pyc

# ==========================
# Environment Files
# ==========================
.env

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# VS Code
# ==========================
.vscode/