kafka requirements
-------------------------------
boto3==1.43.41
botocore==1.43.41
confluent-kafka==2.15.0
Faker==40.28.1
jmespath==1.1.0
kafka-python-ng==2.2.3
python-dateutil==2.9.0.post0
s3transfer==0.19.0
six==1.17.0
tzdata==2026.2
urllib3==2.7.0

general requirements
--------------------------------
attrs==26.1.0
authlib==1.7.2
awscrt==0.36.0
azure_storage==0.37.0
brotli==1.2.0
brotlicffi==1.2.0.1
cachetools==7.1.4
celpy==0.0.1
colorama==0.4.6
ConfigParser==7.2.0
crc32c==2.8
cryptography==49.0.0
ctypes_snappy==1.03
docutils==0.23
fastavro==1.12.2
filelock==3.31.0
h2==4.3.0
hkdf==0.0.3
HTMLParser==0.0.2
httpx==0.28.1
hvac==2.4.0
ipython==8.12.3
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
jsonschema==4.26.0
keyring==25.7.0
lz4==4.4.5
orjson==3.11.9
Pillow==12.3.0
protobuf==7.35.1
pyodide==0.0.2
pyOpenSSL==26.3.0
redis==8.0.1
referencing==0.37.0
thread==2.0.6
tink==1.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
xmltodict==1.0.4
xxhash==3.8.1
zstandard==0.25.0
